[submodule "deps/noise-c"]
	path = deps/noise-c
	url = https://gitlab.com/tini2p/noise-c.git
[submodule "deps/tiny-AES-c"]
	path = deps/tiny-AES-c
	url = https://gitlab.com/tini2p/tiny-AES-c.git
[submodule "deps/libressl"]
	path = deps/libressl
	url = https://gitlab.com/tini2p/libressl.git
